footer {
    position: relative; /* Adiciona posição relativa para conter elementos absolutos */
    background-color: #0084EF;
    
}

.footer-items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
    z-index: 1; /* Coloca os itens do rodapé acima da imagem */
}

#copyright {
    color: var(#f1f1f1);
    font-weight: 500;
}

.social-media-buttons {
    display: flex;
    gap: 12px; /* Espaçamento entre os ícones das redes sociais */
}

@media screen and (max-width: 370px) {
    .footer-items {
        flex-direction: column;
        gap: 20px;
    }
}

.ondas {
    bottom: 0; /* Alinha a imagem na parte inferior */
    left: 0; /* Alinha a imagem à esquerda */
    width: 100%; /* Cobrir toda a largura do rodapé */
    height: auto; /* Ajustar a altura automaticamente */
    z-index: 0; /* Coloca a imagem atrás dos itens do rodapé */
}
