.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all-projects {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin-top: 30px;
}

.proj {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 12px;
    padding: 20px;
    width: 30%;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.proj-hammer-brush {
    position: absolute;
    background-color: #69F097;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #e1e1e1;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.proj-description {
    color: #434343;
    text-align: center;
}

.proj-progress {
    /* Estilos para a linha de progresso */
    width: 100%;
    height: 12px;
    appearance: none; /* Remove o estilo padrão do navegador */
    border: none;
    background-color: #f0f0f0; /* Cor de fundo */
    border-radius: 10px;
}

.proj-progress::-webkit-progress-bar {
    background-color: #f0f0f0; /* Cor de fundo */
    border-radius: 10px;
}

.proj-progress::-webkit-progress-value {
    background-color: #4CAF50; /* Cor da barra de progresso */
    border-radius: 10px;
}

.btn-default {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

@media screen and (max-width: 1170px) {
    #all-projects {
        flex-wrap: wrap;
        justify-content: center;
    }

    .proj {
        width: calc(50% - 12px); /* Ajuste para dispositivos menores */
    }
}

@media screen and (max-width: 985px) {
    .proj {
        width: 100%; /* Ajuste para telas menores */
    }
}

@media screen and (max-width: 960px) {
    #all-projects {
        width: 100%; /* Ajustando a largura para 100% */
    }

    #titles {
        text-align: center;
    }
}
